In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('htandwt.csv')
df

    height  weight
0      185      72
1      170      56
2      168      60
3      179      68
4      182      72
5      188      77
6      180      71
7      180      70
8      183      84
9      180      88
10     180      67
11     177      76

In [4]:
x=df.iloc[:,[0,1]].values
x

array([[185,  72],
       [170,  56],
       [168,  60],
       [179,  68],
       [182,  72],
       [188,  77],
       [180,  71],
       [180,  70],
       [183,  84],
       [180,  88],
       [180,  67],
       [177,  76]], dtype=int64)

ELBOW METHOD

In [5]:
from sklearn.cluster import KMeans
abc=[]
model =KMeans(n_clusters = i)
model.fit(x)#only x because there is no output to write y