In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('fruits - Sheet1.csv')
df

    color  diameter  fruit
0     red         5  apple
1     red         6  apple
2  yellow         3  lemon
3  yellow         7  apple
4     red         8  apple
5  yellow         4  lemon

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
from sklearn.preprocessing import LabelEncoder#preprocessing
enc = LabelEncoder()
enc.fit(df.color)#colour column is being reffered to because that is what should be changed to 0 and 1.
df.color = enc.transform(df.color)#the string is converted to numbers and the numbers are assigned in a alphabetical order 
df

   color  diameter  fruit
0      0         5  apple
1      0         6  apple
2      1         3  lemon
3      1         7  apple
4      0         8  apple
5      1         4  lemon

In [6]:
x=df.iloc[:,[0,1]].values#semicolon for all the rows and the numbers in the bracket for a specific columns
x

array([[0, 5],
       [0, 6],
       [1, 3],
       [1, 7],
       [0, 8],
       [1, 4]])

In [7]:
y=df.iloc[:,2].values
y

array(['apple', 'apple', 'lemon', 'apple', 'apple', 'lemon'], dtype=object)

In [8]:
from sklearn.linear_model import LogisticRegression

In [14]:
model=LogisticRegression()#to run a classifier
model.fit(x,y)#helps in mapping the input tot the output

array(['lemon'], dtype=object)