In [42]:
import pandas as pd

In [43]:
df=pd.read_csv('weather.csv')
df

    id   outlook temperature humidity    wind play
0    1     sunny         hot     high    weak   no
1    2     sunny         hot     high  strong   no
2    3  overcast         hot     high    weak  yes
3    4     rainy        mild     high    weak  yes
4    5     rainy        cool   normal    weak  yes
5    6     rainy        cool   normal  strong   no
6    7  overcast        cool   normal  strong  yes
7    8     sunny        mild     high    weak   no
8    9     sunny        cool   normal    weak  yes
9   10     rainy        mild   normal    weak  yes
10  11     sunny        mild   normal  strong  yes
11  12  overcast        mild     high  strong  yes
12  13  overcast         hot   normal    weak  yes
13  14     rainy        mild     high  strong   no

In [44]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
enc.fit(df.outlook)
df.outlook=enc.transform(df.outlook)
enc.fit(df.temperature)
df.temperature=enc.transform(df.temperature)
enc.fit(df.humidity)
df.humidity=enc.transform(df.humidity)
enc.fit(df.wind)
df.wind=enc.transform(df.wind)
df

    id  outlook  temperature  humidity  wind play
0    1        2            1         0     1   no
1    2        2            1         0     0   no
2    3        0            1         0     1  yes
3    4        1            2         0     1  yes
4    5        1            0         1     1  yes
5    6        1            0         1     0   no
6    7        0            0         1     0  yes
7    8        2            2         0     1   no
8    9        2            0         1     1  yes
9   10        1            2         1     1  yes
10  11        2            2         1     0  yes
11  12        0            2         0     0  yes
12  13        0            1         1     1  yes
13  14        1            2         0     0   no

In [45]:
x=df.iloc[:,[1,2,3,4]].values
x
#do not forget to write .values at the end

array([[2, 1, 0, 1],
       [2, 1, 0, 0],
       [0, 1, 0, 1],
       [1, 2, 0, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 0],
       [0, 0, 1, 0],
       [2, 2, 0, 1],
       [2, 0, 1, 1],
       [1, 2, 1, 1],
       [2, 2, 1, 0],
       [0, 2, 0, 0],
       [0, 1, 1, 1],
       [1, 2, 0, 0]])

In [46]:
y=df.iloc[:,5].values
y

array(['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes',
       'yes', 'yes', 'yes', 'no'], dtype=object)

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [57]:
from sklearn.preprocessing import StandardScaler
norm = StandardScaler()
x_train= norm.fit_transform(x_train)
x_test = norm.fit_transform(x_test)

In [58]:
from sklearn.linear_model import LogisticRegression

In [60]:
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array(['no', 'yes', 'yes', 'yes'], dtype=object)

In [61]:
y_test

array(['yes', 'yes', 'yes', 'yes'], dtype=object)

In [62]:
model.score(x_test,y_test)*100

75.0